body {
	padding: 0;
	margin: 0;
	font-family: CooperHewitt-Medium; }
html, body, #map {
	height: 100%;
	width: 100%;
	background: #000000
}
#controls {
	position: absolute;
	display: block;
	bottom: 50%;
	left: 52vmin;
	z-index: 20; }
button {
	font-size: 50px;
	background: #555;
	color: #fff;
	padding: 30px 30px; }
